
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.env/
.venv/
env/
venv/
ENV/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
Thumbs.db
ehthumbs.db
Desktop.ini
*.log
tests/data/
